.home h1{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
}

.post{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #777;
}
.post h2::first-letter{
    text-transform: uppercase;
}
.post h2,
.post p{

}

.btn{
    background-color: #fff;
    color: #0e1217;
    border: 1px solid #fff;
    opacity: 1;
    padding: .5rem 1rem;
    max-width: 100px;
    cursor: pointer;
    transition: .7s;
    border-radius: 20px;
    margin-top: 5px;
}
.btn:hover{
    color: #fff;
    font-weight: bold;
    background-color: transparent;
}